img {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    opacity: 0;
    animation: fadeFromBlack 1.5s ease-in forwards;
}
@keyframes fadeFromBlack {
    0% {
        opacity: 0;
        filter: brightness(0);
    }
    100% {
        opacity: 1;
        filter: brightness(1);
    }
}
h1 {
    text-align: center;
}