* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
body {
    background-color: rgba(116, 72, 31, 0.863);
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}
header {
    padding: 2rem;
    grid-column: 1 / 4;
}
nav {
    margin: 0 auto 2rem;
    max-width: 90vw;
}
.navigation {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    background-color: beige;
    align-items: center;
    color: black;
}
.navigation li {
    flex: 1 1 auto;
}
.navigation a {
    display: block;
    color: black;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}