* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}
nav {
    margin: 0 auto 2rem;
    max-width: 90vw;
}
.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
    align-items: center;
    color: black;
}
.navigation li {
    flex: 1 1 auto;
}
.navigation a {
    display: block;
    color: black;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}