body {
    display: grid;
    height: 100vh;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 700;

}
#course-title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: aliceblue;
    padding: 1rem;
    margin: 0;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    border: 1px solid black;
}
header {
    background-color: aliceblue;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}
main h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    text-align: center;
}
footer p {
    background-color: aliceblue;
    align-items: center;
}


